/* app css stylesheet */

.menu {
  background-color: rgba(0, 255, 255, 0.514);
}

.menu li a {
  text-decoration: none;
  display: inline;
  border-bottom: 300ch;
}

.menu li a :hover {
  border-bottom-color: coral;
}
.menu {
  text-align: center;
}