/* app css stylesheet */

.menu {
  background-color: rgb(128, 128, 128);
  margin: 0;
  padding-top: 40px;
  padding-bottom: 5px;
}

.menu a:hover {
  font-size:18px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.075);
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.192);
}

body {
  background-color: rgba(165, 42, 42, 0.486);
}

.menu a {
  text-decoration: none;
  display: inline;
  border-bottom: 300ch;
  padding: 30px 20px 3px 15px;
  font-size:17px;
  color: black;
}

.menu a:active {
  box-shadow: none;
}

.menu li a :hover {
  border-bottom-color: coral;
}
.menu {
  text-align: center;
}