<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="buscarImagenes/buscarImagenesCss.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="campoBusqueda" ng-controller="buscarImagenesCtrl">
        <div class="buscador">
          <input ng-model="inputBusqueda" placeholder="Ingrese busqueda">
          <button ng-click="fetch()"><i class="fa fa-search"></i></button>
        </div>
      
        <div ng-repeat="imagen in listaImagenes | limitTo: limite" class="imagenes">
            <div class="contenedor">
              <img src="{{ imagen.urls.thumb }}"/>
              <button class="overlay" ng-click="guardarImagen(imagen)">
                <span ng-if="!imagen.liked_by_user">Guardar</span>
                <span ng-if="imagen.liked_by_user">Guardado</span>
              </button>
            </div>
        </div>

        <div ng-if="limite > 0 && limite < listaImagenes.length">
          <button ng-click="agrandar()">MAS</button>
        </div>
    </div>   
  </body>
</html>